.swiper-button-next {
  color: #d4b43d;
}

.swiper-button-prev {
  color: #d4b43d;
}

.swiper-pagination-bullet {
  opacity: 0.5;
  background-color: #d4b43d;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}
