* {
  font-family: "Times New Roman", Times, serif;
}

body {
  margin: 0;
  padding: 0;
  background: #082340;
  color: #f3f3f3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
