* {
  font-family: serif, "Times New Roman", Times;
}

@font-face {
  font-family: "D3 Euronism";
  src: url("//db.onlinewebfonts.com/t/ed8bbb5e97688783fd975e1a2adb9784.eot");
  src: url("//db.onlinewebfonts.com/t/ed8bbb5e97688783fd975e1a2adb9784.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/ed8bbb5e97688783fd975e1a2adb9784.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/ed8bbb5e97688783fd975e1a2adb9784.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/ed8bbb5e97688783fd975e1a2adb9784.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/ed8bbb5e97688783fd975e1a2adb9784.svg#D3 Euronism")
      format("svg");
}

/** Home Testo */

/** Bottoni */
a,
span {
  font-family: "D3 Euronism";
}
@media (max-width: 433px) {
  a,
  span {
    font-size: 1rem;
  }
}
@media (max-width: 350px) {
  a,
  span {
    font-size: 0.9rem;
  }
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    90deg,
    rgb(96, 41, 136) 0%,
    rgba(9, 1, 14, 0.9290091036414566) 72%
  );
  color: #ffffff;
}
